.add-recipe {
  font-size: 25px;
}

.recipe-list {
  border: 1px solid black;
  border-style: solid;
  margin: 5px;
  box-shadow: 2px 3px;
  padding: 5px;
}

* {
  font-family: '', sans-serif;
  font-weight: 500;
}

.newrecipebox {
  display:flex;
 flex-direction: column;
 width: 70vw;
 margin-left: 120px;
 margin-top: 50px;
}

h1{
  color:rgb(238, 173, 53);
  font-weight: bold;
}
h2 {
  color:rgb(190, 35, 35);
  font-weight: bold;
}

label {
  margin-top: 15px;
}

.submit {
  margin-top: 20px;
  height: 60px;
}
